/*Premium notice popup*/
.kleverlist-premium-popup-wrapper .kleverlist-premium-popup-inner-wrapper {
    position: fixed;
    width: 600px;
    height: 440px;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background: white;
    border-radius: 10px;
}

.kleverlist-premium-popup-wrapper .kleverlist-premium-popup-image-popup {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3em 0 0em;
}

.kleverlist-premium-popup-wrapper .kleverlist-premium-popup-image-popup img {
    width: 100px;
}

.kleverlist-premium-popup-content {
    width: 100%;
    text-align: center;
    padding-top: 1em;
}

.kleverlist-premium-popup-content h2 {
    font-size: 2.0em !important;
    font-family: 'Roboto' !important;
    font-weight: 600 !important;
}

.kleverlist-premium-popup-content p {
    font-size: 17px;
    padding:0 20px;
}

.kleverlist-premium-popup-content p a {
    color: red;
    text-transform: capitalize;
}

.overlay-kleverlist {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    cursor: pointer;
}

.kleverlist-premium-btn {
    text-align: right;
    margin-top: 2.5em;
    width: 90%;
}

.kleverlist-premium-btn a {
    background: #fc8f0f;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    text-decoration: none;
    font-weight: 600;
    text-transform: uppercase;
    color: white;
    outline: none;
}
#kleverlist-notice-popup{
    display: none;
}
/*Premium notice popup*/
.kleverlist-pro-featured-unsubscribe.kleverlist-free-plan .wc-pro-featured-icon {
    position: absolute;
    top: -3px;
    left: 210px;
    display: none;
}

.kleverlist-pro-featured-unsubscribe.kleverlist-free-plan .wc-pro-featured-icon img {
    width: 40px;
}

.kleverlist-pro-featured-unsubscribe.kleverlist-free-plan{
    position: relative;
    background: #e7e7e7 !important;
    cursor: pointer;
    opacity: 0.5;
}

.kleverlist-pro-featured-unsubscribe.kleverlist-free-plan .wc-pro-featured-icon {
    display: block;
}

.kleverlist-pro-featured-unsubscribe.kleverlist-free-plan input, .kleverlist-pro-featured-unsubscribe.kleverlist-free-plan label {
    pointer-events: none;
}
